{% extends 'base.html' %} {% load static %}

<title>{% block title %} Privacy {% endblock title %}</title>
<meta name="description" content=" {% block description %} Explore our commitment to safeguarding your privacy on our Privacy Page. Delve into the details of how we protect your information while providing access to our free templates, themes, dashboards, and premium items. Discover the measures in place to ensure a secure and confidential user experience. Your privacy matters to us – understand our practices and trust in a seamless and protected creative journey. Explore the intricacies of our privacy policy as you embark on your design endeavors with confidence. {% endblock %} themezoz.com #themezoz themes free themes free templates #wordpress #templates "> 

{% block content %}

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-body mt-3">
          <div class="card">
            <div class="container mt-5">
              <h1 class="mb-4">Privacy Policy</h1>
              <p>Last updated: 2023/09/21 </p>

              <h2>1. Introduction</h2>
              <p>
                Welcome to themezoz  . At <a href="https://themezoz.com">Themezoz </a> , we value your privacy and are committed to
                protecting your personal information. This Privacy Policy
                explains how we collect, use, and safeguard your data when you
                use our website and services.
              </p>

              <h2>2. Information We Collect</h2>
              <!-- Add your content for "Information We Collect" section here -->

              <h2>3. How We Use Your Information</h2>
              <!-- Add your content for "How We Use Your Information" section here -->

              <h2>4. Data Sharing and Disclosure</h2>
              <!-- Add your content for "Data Sharing and Disclosure" section here -->

              <h2>5. Third-Party Services and Links</h2>
              <!-- Add your content for "Third-Party Services and Links" section here -->

              <h2>6. Data Security</h2>
              <!-- Add your content for "Data Security" section here -->

              <h2>7. Children's Privacy</h2>
              <!-- Add your content for "Children's Privacy" section here -->

              <h2>8. Changes to This Privacy Policy</h2>
              <!-- Add your content for "Changes to This Privacy Policy" section here -->

              <h2>9. Contact Us</h2>
              <!-- Add your content for "Contact Us" section here -->

              <p>Last updated: 2023/09/21 </p>
            </div>
          </div>
          <!-- card  -->
        </div>
        <!-- card -body -->
      </div>
      <!--col-6 col-md-4 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- ./py-5  -->

{% endblock content %}
