{% extends 'base.html' %} {% load static %}

<title>{% block title %} Terms {% endblock title %}</title>
<meta name="description" content=" {% block description %} Navigate the guidelines and policies that shape our creative community on our Terms of Use page. Gain insights into the terms and conditions governing the usage of our free templates, themes, dashboards, and premium items. Understand the rules that ensure a seamless and respectful experience for all users. Explore our commitment to providing quality design resources while upholding a secure and inclusive environment. Dive into the details and embark on your design journey with confidence. Your creativity, our terms – together, let's build something amazing. {% endblock %} themezoz.com #themezoz themes free themes free templates #wordpress #templates "> 
{% block content %}

<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card-body mt-3">
          <div class="card">
            <div class="container mt-5">
              <h1 class="mb-4">Terms and Conditions</h1>
              <p>Last updated: 2023/09/21</p>

              <h6>1. Acceptance of Terms</h6>
              <p>
                Welcome to themezoz . At
                <a href="https://themezoz.com">Themezoz </a> Your access to and
                use of our services is conditioned on your acceptance of and
                compliance with these Terms. By accessing or using our services,
                you agree to be bound by these Terms.
              </p>
              <h6>Account Removal or Renaming:</h6>
              <p>
                We reserve the right to remove or rename user accounts that violate our terms of service, community guidelines, or any applicable laws or regulations. If we determine that your account username or account activity is in violation of our policies, we may take the following actions:
                <ol>
                  <li>1. Account Removal: We may, at our discretion, suspend or permanently remove your account without prior notice if it is found to be in violation of our terms and conditions.</li>
                  <li>2. Account Renaming: In cases where your account username is found to be in violation of our policies, we may require you to choose a new username that complies with our guidelines.
                  </li>  
                </ol>
                It is your responsibility to ensure that your account, including your username and activity, complies with our policies. If you have any questions or concerns about our account removal or renaming process, please contact our support team.
                We reserve the right to make changes to this policy at any time and will notify users of such changes as required by applicable laws.
                By using this website, you agree to comply with our account removal and renaming policy.
              </p>
              <h6>2. Changes to Terms</h6>
              <!-- Add your content for "Changes to Terms" section here -->

            <h6>3. User Conduct</h6>

            <p>
                Your use of the Themezoz website is subject to the following rules of conduct:

                - You agree to use this website only for lawful purposes and in a way that does not infringe upon the rights of others or restrict or inhibit their use and enjoyment of this website.

                - You will not engage in any unauthorized or unlawful activity that violates local, national, or international laws or regulations.

                - You will not upload, post, or transmit any content that is harmful, offensive, or violates the rights of others.

                - You will not attempt to gain unauthorized access to Themezoz servers, systems, or user accounts.

                - You are solely responsible for the content you upload to the website, and it must comply with our content guidelines and policies.

                - We reserve the right to suspend or terminate your account if you violate these rules of conduct.
            </p>

            <h6>4. User Accounts</h6>

            <p>
                When you create an account on Themezoz:

                - You agree to provide accurate and complete information.

                - You are responsible for maintaining the security of your account, including your password.

                - You agree to promptly notify us of any unauthorized use of your account or any other breach of security.

                - You may not use another user's account without their permission.

                - We may suspend or terminate your account if you violate these account terms.

                - You have the right to terminate your account at any time, subject to our data retention policies.
            </p>

            <h6>5. Intellectual Property</h6>

            <p>
                Themezoz respects intellectual property rights. All content provided on the website, including themes, templates, and user-generated content, is protected by copyright and other intellectual property laws.

                You may use the content on Themezoz only in accordance with the rights and licenses provided by the respective authors and in compliance with our usage policies. You may not reproduce, distribute, modify, or create derivative works without proper authorization.

                We respond to valid claims of intellectual property infringement, and users who repeatedly violate intellectual property rights may have their accounts terminated.
            </p>

            <h6>6. Limitation of Liability</h6>

            <p>
                Themezoz provides its services "as is." We make no representations or warranties of any kind, expressed or implied, regarding the use of our website.

                We are not liable for any damages or losses, including but not limited to direct, indirect, incidental, or consequential damages resulting from your use or inability to use our services.

                You agree to use Themezoz at your own risk, and we are not responsible for any loss or damage to your computer, data, or any other property.

                We may not be held liable for the content, actions, or inactions of our users or third parties.

                These limitations of liability apply regardless of the legal theory, and our liability is limited to the fullest extent permitted by law.
            </p>

            <h6>7. Privacy</h6>

            <p>
                Your use of Themezoz is subject to our Privacy Policy. By using our website, you agree to our collection, use, and sharing of information as described in the Privacy Policy.
            </p>

            <h6>8. Termination</h6>

            <p>
                Themezoz reserves the right to terminate your account or restrict your access to our services for any reason, without prior notice. Termination may result from a violation of these terms or any other conduct that we deem disruptive or harmful.

                Upon termination, you are responsible for all data you have uploaded to Themezoz. We may delete your data after a certain period, as described in our data retention policy.

                You may also terminate your account at any time, subject to our data retention policies.
            </p>

              <h6>9. Governing Law</h6>
              <!-- Add your content for "Governing Law" section here -->
              <p>
                These terms and conditions are governed by and construed in accordance with the laws of Your Jurisdiction, without regard to its conflict of law principles.

                Any legal action, suit, or proceeding arising out of or related to these terms and conditions, the use of this website, or any transactions conducted through this website shall be instituted exclusively in the federal and state courts located in our Jurisdiction . You hereby consent to the personal jurisdiction and venue of such courts and waive any objections thereto.

                In the event of a dispute between Themezoz and a user, we encourage users to first attempt to resolve the matter amicably by contacting us at <a href="{% url 'contact_us' %}">her</a> . We will make good faith efforts to resolve the dispute.

                This governing law clause shall not prevent Themezoz from seeking injunctive relief in any court of competent jurisdiction.

                If any provision of these terms and conditions is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that these terms and conditions shall otherwise remain in full force and effect.

                These terms and conditions, together with our Privacy Policy, constitute the entire agreement between you and Themezoz regarding the use of this website.

                By using this website, you agree that any disputes or claims arising under or in connection with these terms and conditions shall be subject to the exclusive jurisdiction and venue described above.

                Last updated: 2023/09/26
              </p>

              <h6>10. Contact Us</h6>
              <!-- Add your content for "Contact Us" section here -->

              <p>Last updated: 2023/09/21</p>
            </div>
          </div>
          <!-- card  -->
        </div>
        <!-- card -body -->
      </div>
      <!--col-6 col-md-4 -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- ./py-5  -->

{% endblock content %}
