{% extends 'base.html' %}
<title> {% block title %} My Order {% endblock title %} </title>

{% block content %}



<div class="container d-flex  ">
    <div class="py-1 bg-secondary1  d-flex align-items-center ">
        <a href="/" class="text-secondary  p-2 "><i class="fa fa-home"></i> </a><i class="fa fa-caret-right text-secondary  "></i>
        <span class="text-secondary  p-2 "> My Order </span>
    </div>
</div>


<div class="container my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body shadow p-3">
                <h3 class="">My Order 
                    <a href="/" class="btn btn-warning float-end" > <i class="fa fa-reply"></i> Back </a>
                </h3>
                <table class="table table-striped m-2">
                    <thead>
                        <tr class="table-primary">
                            <th>Tracking .No </th>
                            {% comment %} <th>Total Price </th> {% endcomment %}
                            <th>Status </th>
                            {% comment %} <th>Order Data </th> {% endcomment %}
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order %}
                        <tr>
                            <td> {{ item.tracking_no }} </td>
                            {% comment %} <td> {{ item.total_price }} </td> {% endcomment %}
                            {% comment %} <td> {{ item.create_at }} </td> {% endcomment %}
                            <td> {{ item.stats }} </td>
                            <td> 
                                <a href="{% url 'orderview'  item.tracking_no  %}" class="btn btn-info"> <i class="fa fa-eye"></i> View</a>    
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% comment %} conutry, pincode, total_price, payment_mode, payment_id, satuts, message, tracking_no) {% endcomment %}
{% comment %} Order(*, create_at, update_at, user, fname, lname, email, phone, address, city, stats, {% endcomment %}
{% endblock content %}



{% comment %} sb-uvqbz15281463@business.example.com {% endcomment %}

{% comment %} -I3#jc?2 {% endcomment %}
{% comment %} for test  {% endcomment %}
{% comment %} AdaZiYkHJwzxlzKJ2D1ZzzDXWIWlwtXopPLxySUxvoCfzBqDBfrh8kkZ20jNQyQuAu3D9yntGIaTBhgq {% endcomment %}


{% comment %} EKzwUy4RuYwaoWsq0nrOc7V8BdqthDYZ4L-D72ZHZyJXQ-CnwdSFsIU5V9Im4qmoPOTFsx8otxS0v3fL {% endcomment %}

{% comment %} clent id for live  {% endcomment %}
{% comment %} ATb2EzgzgDAV2VKjklmQoTegQBZWK-CyFCXqdVQaG58dxYsnnscOjCSQryddgXUJQ9jdr3Yx0LHwoS6Y {% endcomment %}
{% comment %} secrit key for live  {% endcomment %}
{% comment %} EBzyrUFFgS1QZmMZgOhtL_ob_Jg2NcDVX7truNxgrPCdQvtOdyRMacmt_9dsCXjvbp5mSI0NGFB-cU3C {% endcomment %}


{% comment %} Live Account
themezoz.com@gmail.com

Access token
access_token$production$56zrtqpvmwc6pf5v$5cbcdd7cbc98eda5862af7a1a37fb72a
 {% endcomment %}




