{% extends 'base.html' %}
{% load static %}



<meta name="description" content=" {% block description %} Discover the essence of creativity in our collections page. Explore an array of meticulously curated free templates, themes, dashboards, and premium items. Unleash your imagination and elevate your projects with our diverse and high-quality resources. From stylish themes to powerful dashboards, find the perfect elements to bring your vision to life. Download and transform your digital landscape effortlessly with our captivating collections.  {% endblock %} themezoz.com #themezoz themes free themes free templates #wordpress #templates   "> 
<title> {% block title %} Collections {% endblock title %} </title>

{% block content %}

<div class="container d-flex  ">
    <div class="py-1 bg-secondary1  d-flex align-items-center">
        <a href="/" class="text-secondary  p-2 "><i class="fa fa-home"></i> </a><i class="fa fa-caret-right text-secondary  "></i>
        <span class="text-secondary  p-2 "> Collections </span>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            {% for item in categories  %}
                <div class="col-6 col-md-4 col-lg-3 ">
                    <div class="card-body mt-3">
                        <div class="card">
                            <a href="{% url 'category'  item.slug   item.id %}">
                                <div class="coner card-img-top lazyOwl  rounded img-thumbnail  mx-auto d-block " style="background-image: url('{{ item.thumbnail_clooection.url }}') ; width: 15rem; height: 150px; background-position: center ; background-size: contain; background-repeat: no-repeat; "> </div>
                                    <div class="card-body p-1"> <h5 class="card-title name-book text-center fs-6 ">{{ item.name }}</h5> </a>
                                </div>
                            </a>
                        </div><!-- card  -->
                    </div><!-- card -body -->
                </div><!--col-6 col-md-4 -->
            {% endfor %}
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- ./py-5  -->

{% endblock content %}

