<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="css/animated-slider.css">
    
  </head>
  <body>
 
  
<!-- DEMO HTML --> 
<main>
     <div class="container"> 
            <div class="slider">

                <div class="box2 box">
                    <div class="bg"></div>
                    <div class="details">
                        <h1>I'm the second Box</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing 
                            elit. Integer lacinia dui lectus. Donec scelerisque ipsum
                            diam, ac mattis orci pellentesque eget. 
                        </p>
                        <button>Check Now</button>
                    </div>

                    <div class="illustration"><div class="inner"></div></div>
                </div>
                <div class="box2 box">
                </div>
                <div class="box2 box">
                </div>
                <div class="box2 box">
                </div>
                <div class="box2 box">
                </div>

            </div>
        </div> 
</main>
<!-- END DEMO HTML -->

 
 <!-- gsap js -->     
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/gsap.min.js"></script>
<!-- CSSRulePlugin JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.2/CSSRulePlugin.min.js"></script>
<!-- Animated Slider JS -->
<script src="js/animated-slider.js"></script>
  
  </body>
</html>