{% load static %}
<div  class="carousel" style="box-shadow: 2px 2px 3px 1px #6f6e6e;" >
    <div class="paernt" style=" height: 100%; ">
      <div class="row">

        <div class="col-6">
          <div class="title text-lead" style="color: white;margin: 22px 0 0px  9px; font-weight: 500;">Explore a diverse range of high-quality block and paver products on our website for our construction industry manufacturing company Tur</span><span  style="color: black; font-size: larger;">Ads</span>  </div>
        </div>
        <div class="col-6"> 
          <div class="backgrund" style="color: white;background:url('/static/assets/images/turads/01.webp');background-repeat: no-repeat;background-size: cover;height: 100%;background-position: center;margin: 7px;border-radius: 6px;box-shadow: 3px 10px 14px 6px #8f8c8c;  " >
        </div>

      </div>
    </div>
</div>

<div class="container">
  <div class="perant" style="margin-top: -10px; z-index: 2; position: relative; ">
    <div class="row text-center">  
      <div class="col-6"> <button  class="btn btn-primary">Contact Us</button> </div>
      <div class="col-6"> <button  class="btn btn-primary">Make oreder</button> </div>
      
    </div>
  </div>
</div>