{% load static %}
<div class="carousel" style="box-shadow: 2px 2px 3px 1px #6f6e6e;">
  <div class="paernt" style=" height: 100%; ">
    <div class="row">

      <div class="col-6">
        {% comment %} <div class="title text-lead" style="color: white;margin: 22px 0 0px  9px; font-weight: 500;">
          Explore a diverse range of high-quality block and paver products on our website for our construction industry
          manufacturing company Tur</span><span style="color: black; font-size: larger;">Ads</span> </div> {% endcomment  %}
        <div class="title text-lead" style="color: white;margin: 22px 0 0px  9px; font-weight: 500;">Explore
          high-quality blocks, pavers at Tur</span><span style="color: black; font-size: larger;">Ads</span> </div>
      </div>
      <div class="col-6">
        <div class="backgrund"
          style="color: white;background:url('/static/assets/images/turads/fliex.png');background-repeat: no-repeat;background-size: cover;height: 85%;background-position: center;margin: 7px;border-radius: 6px;box-shadow: 3px 10px 14px 6px #8f8c8c;  ">
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="perant" style="margin-top: -10px; z-index: 2; position: relative; ">
      <div class="row text-center">
        <div class="col-6"> <a href="{%  url 'contact_us' %}"> <button class="btn btn-primary"> Contact Us </button>
          </a> </div>
        <div class="col-6">

          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
              Call Us Via
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" target="_blank" href="tel:+256773555556">Call MTN </a></li>
              <li><a class="dropdown-item" target="_blank" href="tel:+256753155556">Call Airtel</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wa.me/2567531555556">Text Whatsapp</a></li>
              <li><a class="dropdown-item" target="_blank" download=download  href="{% static 'assets/images/turads/turads-card-big-size.png' %}">download our Card </a></li>
            </ul>
          </div>

        </div>



      </div>
    </div>
  </div>
  <!-- 
<nav class="navbar navbar-expand-lg  "   >
            Call Us
      <li class="nav-item dropdown ">

            <ul class="dropdown-menu" style="" >
              <li><a class="dropdown-item" href="#"> Whatsapp </a></li>
              <li><a class="dropdown-item" href="#">Airtel</a></li>
              <li><a class="dropdown-item" href="#">  MTN</a></li>
              <li><a class="dropdown-item" href="#">  Telegram</a></li>
            </ul>

        </li>

</nav>
        -->